---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "mrs-eaves-xl-serif", "mrs-eaves", Times New Roman, Times, serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$serif-display-font-family: "mrs-eaves", "mrs-eaves-xl-serif", Times New Roman, Times, serif;
$sans-display-font-family: "futura-pt", Helvetica Neue, Helvetica, sans-serif;

$spacing-unit:     30px;

$red:              #c7102a;
$orange:           #fe5000;
$blue:             #2b1378;
$light-blue:       #039dbf;
$purple:           #682c6b;

$text-color:       #111;
$background-color: #fafaf8;
$main-color:       $light-blue;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    900px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "custom"
;
